body {
    background-image: url('../Imgs/coffee-gb50b8bca7_1920.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    
}
searchString {
    background-color: #1a1aff;
    color: white;
}