h3 {
    text-decoration-line: underline;
}
.square-container {
    display: grid;
    grid-template-columns: repeat(2,minmax(45vh, 1fr));
    grid-gap: 10px;
    overflow-y: auto;
}

.square {
    position: relative;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: rgba(41,43,44, 0.8);
  
}

    .square::before {
        content: '';
        display: block;
        padding-top: 60%;
    }

    .square .content {
        position: absolute;
        top: 0; 
        left: 0;
        height: 100%;
        width: 100%;
        padding: 3%;
        text-align: center;
    }
.lastRow{
    border-bottom: none !important;
}
#linkToIndex {
    text-align: right;
}
.error-icon{
    color: red !important;
}