input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 2fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    height: auto;
}

.productBar {
    grid-column: 1 / 3;
    grid-row: 1 / 6;
    overflow-y: auto;
    background-color: rgba(41,43,44, 0.8);
    font-size: 0px;
    position: relative;
    display: table-row;
}

.product {
    display: grid;
    grid-template-columns: 300px 1fr 20%;
    font-size: 18px;
    height: 300px;
    border-bottom: dotted;
}

.checkoutBar {
    border: groove;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    background-color: #212121;
    align-self: start;
    position: sticky;
    top: 0rem;
    height: 100%;
    padding: 10px;
}

.productLine {
    height: 300px;
}

.displayPicture {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.pictureFrame {
    height: 100%;
    border: solid black;
}

.picture {
    height: 100%;
}

.description {
    margin: 4px;
    text-align: center;
    font-size: 14px;
}

#price {
    align-self: self-end;
    margin-right: -5%;
}

.functions {
    text-align: right;
    margin: 4px;
    margin-right: 10%;
}

.button {
    background-color: #616161;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button5 {
    border-radius: 80%;
}

.counter {
    width: 40px;
    text-align: center;
}

#UpdateCart {
    background-color: #616161;
    font-size: 16px;
    margin-right: -10%;
    width: auto;
}

#customerContactInfo #billingAddress #deliveryAddress {
    display: grid;
    border: solid;
    overflow-y: auto;
}

.innerGrid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgba(41,43,44, 0.8);
    padding: 10px;
    text-align: center;
}

.overLine {
    margin-bottom: 0;
    background-color: rgba(41,43,44, 0.8);
}

.textbox2 {
    width: 80%;
    text-align: center;
}

.header h2 {
    text-decoration-line: underline;
    text-align: center;
    margin-top: 10px;
}

#submit {
    text-align: center;
    margin: 3%;
    word-spacing: 50px;
}

#deliveryCheckBox {
    font-size: 28px;
}

#container {
    display: grid;
}

#container input {
        background-color: #292b2c;
}

#down {
    display: grid;
    grid-template-columns: 1fr 30% 25%;
    height: fit-content;
    Background-color: rgba(41,43,44, 0.8);
    padding: 5px;
    margin: 10px;
}


#leadTime {
    text-align: center;
    word-spacing: 5px;
}
#card {
    grid-column: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#total{
    text-align: right;
}
#cardType{
    grid-column: 1 / 2;
}
#note {
}


#notebox {
    width: 100%;
    height: 65%;
    text-justify: auto;
}

.square-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow-y: auto;
}

.square {
    position: relative;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: rgba(41,43,44, 0.8);
}

    .square::before {
        content: '';
        display: block;
        padding-top: 150%;
    }

    .square .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 3%;
        text-align: center;
       overflow-y:auto;
    }

.lastRow {
    border-bottom: none !important;
}

#linkToIndex {
    text-align: right;
}

.adminTable {
    
}

.error-icon {
    color: red;
    display: none;
}
.fa-circle-exclamation
{
    color: red;
}
#month {
    display: inline-block;
    width: 40%;
    margin-right: -10%;
}

#year {
    display: inline-block;
    width: 40%;
}
#expiryDate{
    display: block;   
}
.descriptionText{
    overflow-y: scroll;
}