
#main {
    display: grid;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    left: 50%;
    position: absolute;
    width: 100%;
    height:auto;
    border: solid black;
    background-color: rgba(41,43,44, 0.8);
}
#description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40%;

}
#header {
    border: solid yellow;
    text-align: center;
}
#products {
    overflow-y:auto;
}

.information{
    margin: 4px;
}