
*{
    color: white !important;
    
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: white;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-image: url('../Imgs/coffee-gb50b8bca7_1920.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 60px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
#addressViewTable {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: rgba(41,43,44, 0.8) !important;
}
td.number {
        text-align: center;
}

.textBox {
    background-color: #292b2c;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.00em;
}
.form-control {
    background-color: #292b2c;
   
}
/*table tr td, table tr th {
    background-color: rgba(41,43,44, 0.8);
}
*/
.searchString {
    background-color: #212429;
    width: 30%;
}

.searchButton {
    background-color: #815654;
    width: 10%;
}

.pagerTable{
    width:auto;
}
.pagerTable td{
    width: 30px;
}