
* {
    color: white;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: white;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.col-md-3 {
    background-color: rgba(41, 43, 44, 0.8);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: gray;
    border-color: #1861ac;
}

.nav-link {
    color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background-image: url('../Imgs/coffee-gb50b8bca7_1920.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

#addressViewTable {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: rgba(41,43,44, 0.8) !important;
}

td.number {
    text-align: center;
}

.textBox {
    background-color: #292b2c;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.00em;
}

.form-control {
    background-color: #292b2c;
    color: white;
}

table tr td, table tr th {
    background-color: rgba(41,43,44, 0.8) !important;
}

.searchString {
    background-color: #212429;
    width: 30%;
}

.searchButton {
    background-color: #815654;
    width: 10%;
}

.pagerTable {
    width: auto;
    background-color: none !important;
}

    .pagerTable td {
        width: 30px;
        background-color: none !important;
    }

.clean {
    background-color: none !important;
    width: auto;
}

    .clean td {
        width: 30px;
    }

.otherInput {
    background-color: #292b2c;
}

#MenusDropDown {
    border: none;
    background: inherit;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.form-control:disabled, .form-control[readonly] {
    color: black !important;
}

.dropdown-toggle {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0.5rem 0.75rem;
    background-image: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(41, 43, 44, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu li {
    display: block;
}

    .dropdown-menu li a {
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        color: inherit !important;
    }

.dropdown:hover .dropdown-menu {
    display: block;
}

#address-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 55%;
    float: left;
}

    #address-table th {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }

    #address-table td {
        border: 1px solid #ccc;
        padding: 8px;
    }

    #address-table a {
        color: blue;
        text-decoration: underline;
    }

    #address-table tbody tr:hover {
        background-color: #f5f5f5;
    }

    #new-address-form {
        display: none;
    }
    
    #edit-address-form {
        display: none;
    }

#address-form-container {
    width:40%;
    margin-left: 5%;
    float: left;
}

    #address-form-container.show {
        display: block;
    }

#address-table {
    position: relative;
}

.coffee-Form{
    text-align:center;
}
.coffee-Form input{
    width: 50%;
}

#addresses-add{
    display:none;
    text-align:center right;
}
#address-table .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#address-table .btn {
    margin-right: 10px; /* Adjust the margin as needed */
}
#address-table th:last-child {
    text-align: center;
}