@using CafeMVC.Application.ViewModels.Customer;
@model List<AddressForOrderViewVm>
@{
    var customerId = ViewBag.CustomerId;
}

@if (Model != null && Model.Any())
{
    <h6>Or choose your saved delivery address</h6>
    <select id="AddressDropdown" class="form-control" name="AddressId">
        <option value="">Select an address</option>
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.Address</option>
        }
    </select>
    
}
